<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java Developer Intern</h3>
                            <div class="time">Aug,2017 - Nov,2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Integos</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Built projects on J2EE.Built project based on Struts,Spring and Hibernate Framework.Also developed web apps using xml,ajax.</p>  
                      
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Android Developer Intern</h3>
                            <div class="time">July,2017</div>
                        </div><!--//upper-row-->
                        <div class="company">PetroInfotech</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>•Worked on android app developement for HSE management.Had experience in android unique libraries and REST API's.</p>  
                      <p>•Designed and developed new UI features.</p>
                     <p>•Implemented bar code scanning algorithm to the search option.</p>
                      <p>•Built a graph module for existing data using MpChart Library.</p>
</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
              
                
            </section><!--//section-->
