<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Hide N Seek</a></span> - <span class="project-tagline">A three dimensional android game. Unity, Scripting in C#.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Book creature</a></span> - 
                    <span class="project-tagline">A augmented reality android application in which creature appears with movement by user. Unity, scripting
in JavaScript.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Job Portal</a></span> - <span class="project-tagline">A online website for job seekers and job providers using HTML, CSS, PHP, JavaScript.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Gesture Robot</a></span> - <span class="project-tagline">A robot with response to gestures of hands of human using Objective-C.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Swarm robots</a></span> - <span class="project-tagline">Robots based on swarm behaiviour using Objective-C.</span>
                </div><!--//item-->
            </section><!--//section-->
