<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/basilkmax/hidenseek-AndroidGame" target="_blank"><b>Hide N Seek</b></a></span> - Unity Game Engine, C#, JavaScript<br/><span class="project-tagline">A three dimensional android game.</span>
                  <a href="https://play.google.com/store/apps/details?id=com.trim.hidenseek&hl=en" target="_blank"><p>https://play.google.com/store/apps/details?id=com.trim.hidenseek&hl=en</p></a>
                </div><!--//item-->
  
         <div class="item">
                    <span class="project-title"><a href="https://github.com/basilkmax/mailIt" target="_blank"><b>Mail System</b></a></span> - J2EE, JavaScript, Tomcat, Dreamweaver<br/><span class="project-tagline">Developed a complete web mailing system. </span>
                  <a href="https://mailingsystem-189307.appspot.com" target="_blank"> <p>https://mailingsystem-189307.appspot.com/</p>  </a>            
        </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"><b>Library Management</b></a></span> -Java, NetBeans, SQL<br/><span class="project-tagline">Built a desktop application for automation of library management. </span>
                </div><!--//item-->
  
                <div class="item">
                    <span class="project-title"><a href="https://github.com/basilkmax/imageClassification-AndroidApp" target="_blank"><b>Image Classify Android App</b></a></span> - Android Studio, Microsoft Azure cloud <br/> <span class="project-tagline">Developed an android app which makes prediction of any clicked image with the help of Azure Cognitive Cloud service and REST API’s.
in JavaScript.</span>
                </div><!--//item-->
  
                <div class="item">
                  <span class="project-title"><a href="#" target="_blank"><b>Job Portal</b></a></span> -HTML, Bootstrap, PHP, SQL<br/> <span class="project-tagline">A online website for job seekers and job providers using HTML, CSS, PHP, JavaScript.</span>
                  <a href="https://kmaxjobportal.000webhostapp.com/index.php" target="_blank"> <p>https://kmaxjobportal.000webhostapp.com/index.html</p></a>
                </div><!--//item-->
                
  
        <div class="item">
          <span class="project-title"><a href="#" target="_blank"><b>Swarm robots</b></a></span> -Objective-C<br/><span class="project-tagline">Robots based on swarm behaiviour.</span>
                </div><!--//item-->
            </section><!--//section-->
